.social-login
  button.social-login--github
    a(href=routes.github)
      span
        i.fab.fa-github-alt
      | Continue wigh Github
  button.social-login--facebook
    a(href=routes.facebook)
      span
        i.fab.fa-facebook
      | Facebook login is not supported